.center-block {
    float: none;
}

#under-construction {
    margin-top: 30px;
    margin-bottom: 30px;
}

#yam-body {
    background-color: #CDCDCD;
}

td {
   text-align: center;
   border: none;
}

.borderless {
    border: none;
    width: 100%
}

#yam-footer {
    padding-top: 30px;
    background-color: #CDCDCD;
}

.social-networks {
    border-radius: 8px 8px 0px 0px;
    background-color: #000000;
    padding: 20px;
}

.social-icon {
    margin: auto;
}